h5py
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
Keras
Keras-Preprocessing
matplotlib
notebook
numpy
pandas
Pillow
plotly
rise
scikit-learn
seaborn
sklearn-pandas
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
PIL